@import './flex.less';
@import './utilities.less';
@import './color.less';
@import './text-color.less';
@import './shared.less';

@import './bib-editor.less';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: auto;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

// 缩小 ant-design-vue Popover 内边距
.ant-popover-inner-content {
  padding: 0;
}
// antd form.item label colon 应完全去掉伪类元素
.ant-form-item-label > label.ant-form-item-no-colon::after {
  content: none;
}

.ant-spin-text {
  margin-top: 12px;
}

// ProseMirror 相关
::selection {
  color: @N900;
  background: #d2ddf0;
}
li.ProseMirror-selectednode:after {
  border: none;
}
.ProseMirror table {
  margin: 0;
}
.ProseMirror th,
.ProseMirror td {
  min-width: 1em;
  border: 1px solid #ddd;
  padding: 3px 5px;
}
.ProseMirror .tableWrapper {
  margin: 1em 0;
}
.ProseMirror th {
  font-weight: bold;
  text-align: left;
}

.iconpark {
  .iconpark-fix;
}
.uname-link {
  &,
  &:visited,
  &:link {
    color: @N500;
  }
  &:hover {
    color: @primary-color;
  }
}
