@import './flex.less';
@import './utilities.less';
@import './color.less';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: auto;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

// 缩小 ant-design-vue Popover 内边距
.ant-popover-inner-content {
  padding: 0;
}

.ant-spin-text {
  margin-top: 12px;
}

::selection {
  color: @N900;
  background: #d2ddf0;
}
li.ProseMirror-selectednode:after {
  border: none;
}
